.text-brand {
  color: var(--primary-color-accent);
}

.text-brand-dark {
  color: var(--secondary-color-accent);
}

.text-semi-bold {
  font-weight: 600;
}

.text-uppercase {
  text-transform: uppercase;
}
