:root {
  --primary-color-light: #faf4ea;
  --primary-color-dark: #31261a;
  --primary-color-accent: #819b57;
  --secondary-color-light: #cfcfbc;
  --secondary-color-dark: #a18268;
  --secondary-color-accent: #465929;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
